name: Build & Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build -t solcer:latest .
          docker save solcer:latest | gzip > solcer.tar.gz

      - name: Upload Docker image to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "solcer.tar.gz"
          target: "/root"

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root
            docker load < solcer.tar.gz || true
            docker stop solcer || true
            docker rm solcer || true
            docker run -d -p 80:80 -p 443:443 --name solcer solcer:latest
